/* CSS-Demo CSS */

/*  ---------------Box Sizing----------------- */

html {
  box-sizing: border-box;
*,
*:before,
*:after {
  box-sizing: inherit;
}
/* ---------------Utility Classes----------------- */

.container {
  width: 80vw; /* 80% of the viewport width */
  max-width: 960px;
  margin: 40px auto; /* Center the container */
}

.img-right{
  float:right;
  border: 1px solid #000000;
  padding:5px;
  border-radius:5px;
  margin:10px 0 10px 20px;
}

.img-left{
  float:left;
  border: 1px solid #000000;
  padding:5px;
  border-radius:5px;
  margin:10px 20px 10px 0; /*margin switched for left float*/

}

.img-center{
  border: 1px solid #000000;
  padding:5px;
  border-radius:5px;
  display:block;
  margin: 10px auto;
}
}

/* ---------------Responsive Images----------------- */
img {
  max-width: 100%; /* Use percent for stuff inside, use viewport more globally */
  height: auto;
  display: block;
}

/*  ---------------Global Styles----------------- */
body {
  background-color:#ffffff;
  font-family: "Montserrat", sans-serif;
  margin:0;
}
header.primary {
  background:#0EA7E8;
  color:#ffffff;
  text-align:center;
  text-shadow: 1px 1px #000000;
  /*long form*/
  padding-top: 40px;
  padding-right: 40px;
  padding-bottom: 40px;
  padding-left: 40px;
  /*Single value short hand*/
  padding: 40px;
  /* T,R,B,L */
  padding: 20px 40px 20px 40px;
   /* Two Value Top/Bottom / L/R */
  padding: 20px 40px;
}

header.primary h1{
font-size:2.4rem;
color:#ffffff;  
/* top | left and right | bottom */
margin: 20px 0 0; 
}

header.primary a{
  color:#ffffff;
  text-decoration:none;
}

header.primary h2{
  font-size:1.3rem;
  letter-spacing:.3px;
  margin:0;
}

header.primary nav ul{
  padding:0;
  display:flex;
  flex-direction:row;
  justify-content:space-around;
  max-width:960px;
  margin:20px auto 10px;
}
header.primary nav li{
  list-style-type:none;
}

header.primary nav li{
  list-style-type: none;
}

header.primary nav a{
color:ffffff;
font-size:.9rem;
background:rgba(0,0,0,.4);
padding:5px 7.5px;
border-radius: 10px;
border: 3px solid #0E1DE8;
transition: .4s;
}

header.primary nav a:hover{
  background-color:rgba(0,0,0,.8);
}

#intro h2{ /* Section Heading */
  color:#0EA7E8;
  border-bottom: 1px dotted #0EA7E8;
}

#content{
  display:flex;
  flex-direction: row;
}

#content .post{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
  padding: 20px;
  font-size: 0.8rem;
}

figure{
  margin:0;  /* Remove default margin */
}

#content time, figcaption{
  text-transform: uppercase;
  font-size: .6rem;
}

#content a{
  color: #0E62E8;
}

#practice h2{
  color:#0EA7E8;
  border-bottom: 1px dotted #0EA7E8;
}

#practice a:link, #practice a:visited {
  color:#0EA7E8;
}

#practice h3{
  color:#0EA7E8;
  border-left: 7.5px solid #0EA7E8;
}

table{
  width:100%;
  border:1px solid #c0c0c0;
  border-collapse:collapse;
}
caption{
  font-weight: bold;
  margin: 10px;
  font-size:1.3rem;
}
tr:nth-child(even){
   background-color: rgba(0, 0, 0, 0.1); 
}
th{
background-color: #172635;
color:#ffffff;
padding:7.5px;
}
td{
border:1px solid #c0c0c0;
padding:5px;  
}

td:nth-child(2){
  text-align:right;
}
td:nth-child(3){
  text-align:left;
}

#practice ol{
  list-style-type: lower-roman;
}

#practice ul ul{
  color:red;
}
aside[role="complementary"]{
  background:#460EE8;
  color:#ffffff;
  padding:40px 0;
  margin-left:20px;
  flex:1; /* Take up remaining space */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.6);
}

aside .container{
  display:flex;
  flex-direction:row;
  gap:40px;
}

aside .container a{
color:#ffffff;
}

aside .container a:last-child{
  display:block;
  text-align:right;
  margin-top:20px;
}

article.widget footer{
  display:none;
}

/*#colophon{}
footer[role="contentinfo"]{}
footer.primary{}
footer:last-child{}*/

#colophon{
background-color: #3b638b;
padding:5px;
color:#ffffff;
text-align:center;
text-shadow:1px 1px #000000;  
}


/*---------------Media Queries-----------------*/

@media screen and (max-width:520px) {
header.primary nav ul{
  flex-direction: column;
  gap:20px;
}
header.primary nav a{
  display:block;
}
  /* Stack the nav items vertically on small screens */
}

/*#0EA7E8

#0E1DE8

#0E62E8

#00EAE8

#460EE8

#5B91E8*/