/* Course Homepage CSS */

body {
        background-color: #b7c9e2;
        
        /* Use same body font as final project */
        font-family: "Macondo", serif;
}

/* Headings use the same font as the final project and center the main title */
h1 {
    font-family: 'Cinzel', serif;
    text-align: center;
}